/* CSS stylesheet for media queries */

@media screen and (max-width: 1240px) {
  .contact-list {
    flex-direction: column;
    justify-content: center;
  }
  .contact-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-list li {
    display: flex;
    flex-direction: column;
  }
  #vertical-line-2 {
    height: 700px;
  }
}

@media screen and (max-width: 1175px) {
  .bottom-left-text {
    bottom: 15px;
    left: 0;
    font-size: 2vw;
  }
  .img-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bottom-left-text-2, .bottom-left-text-3 {
    bottom: 0;
    left: 0;
    padding: 5px;
  }
  #vertical-line-2 {
    height: 700px;
  }
}

@media screen and (max-width: 950px) {
  header {
    flex-direction: column;
  }
  .left-header-container {
    height: 90px;
  }
  .background-image {
    height: 200px;
  }
  .img-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #portfolio-3, #portfolio-2 {
    margin: 0;
  }
  .bottom-left-text {
    bottom: 15px;
    left: 0;
    font-size: 10px;
  }
  #vertical-line-1 {
    margin-top: 5px;
  }
  #vertical-line-2 {
    height: 460px;
  }
  #about-me, #work, #contact-me {
    margin-left: 0;
    font-size: 60px;
    width: 230px;
  }
  header li {
    font-size: 2vw;
  }
}

@media screen and (max-width: 750px) {
  #about-me, #work, #contact-me {
    font-size: 40px;
    width: 145px;
    margin-left: 0;
  }
  .contact-list {
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
  }
  .contact-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-list li {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
  }
  .bottom-left-text, .bottom-left-text-2, .bottom-left-text-3 {
    bottom: 10px;
    left: 0;
    padding: 5px;
  }
  #vertical-line-1 {
    height: 150px;
    margin-top: 50px; 
  }
  #vertical-line-2 {
    height: 400px;
  }
  #vertical-line-3 {
    margin-top: 30px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  #portfolio-3, #portfolio-2 {
    margin: 0;
  }
  .bottom-left-text, .bottom-left-text-2, .bottom-left-text-3 {
    bottom: 0;
    left: -10px;
    padding: 5px;
  }
  #vertical-line-2 {
    height: 400px;
  }
  #about-me {
    width: 130px;
  }
  .contact-list li {
    text-decoration: underline;
  }
  header li {
    font-size: 2.5vw;
  }
}

/* @media screen and (max-width: 525px) {
  #portfolio-1 {
    min-width: 150px;
  }
  .img-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about-me, #work, #contact-me {
    font-size: 30px;
  }
  #vertical-line-1 {
    margin-top: 5px;
  }
  #vertical-line-2 {
    height: 300px;
  }
  #vertical-line-3 {
    margin-top: 30px;
    height: 100px;
  }
  #about-me-content {
    margin-top: 0;
  }
  #about-me, #contact-me {
    width: auto;
  }
  .contact-list li {
    text-decoration: underline;
  }
  #email-link {
    margin: 5px 0;
  }
} */

@media screen and (max-width: 525px) {
  section {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  #vertical-line-1 {
    display: none;
  }
  #vertical-line-2 {
    display: none;
  }
  #vertical-line-3 {
    display: none;
  }
  #portfolio-2-container, #portfolio-3-container {
    height: auto;
  }
  .bottom-left-text, .bottom-left-text-2, .bottom-left-text-3 {
    bottom: 7px;
    left: 3px;
    padding: 5px;
  }
  .contact-list li {
    text-decoration: underline;
  }
  header li {
    font-size: 3.5vw;
  }
  #email-link {
    margin: 5px 0;
  }
  #about-me-content {
    font-size: 10px;
  }
}
