/* css stylesheet for media queries */

@media screen and (max-width: 1240px) {
  .contact-list {
    flex-direction: column;
    justify-content: center;
  }
  .contact-list ul {
    flex-direction: column;
    align-items: center;
  }
  .contact-list li {
    flex-direction: column;
  }
  #vertical-line-2 {
    height: 700px;
  }
}

@media screen and (max-width: 1175px) {
  .bottom-left-text {
    bottom: 15px;
    left: 0px;
    font-size: 2vw;
  }
  .img-container-1 {
    flex-direction: column;
    align-items: center;
  }
  #portfolio-2 {
    margin: 0;
  }
  .bottom-left-text-2 {
    bottom: 4px;
    left: 0px;
    padding: 5px;
  }
  .bottom-left-text-3 {
    bottom: 0px;
    left: 0px;
    padding: 5px;
  }
  #vertical-line-2 {
    height: 700px;
  }
}

@media screen and (max-width: 950px) {
  header {
    flex-direction: column;
  }
  .left-header-container {
    height: 90px;
  }
  .background-image {
    height: 200px;
  }
  .img-container-1 {
    flex-direction: column;
    align-items: center;
  }
  #portfolio-3 {
    margin: 0;
  }
  #portfolio-2 {
    margin: 0;
  }
  .bottom-left-text {
    bottom: 15px;
    left: 0px;
    font-size: 10px;
  }
  #vertical-line-1 {
    margin-top: 5px;
  }
  #vertical-line-2 {
    height: 460px;
  }
  #about-me {
    margin-left: 0px;
    font-size: 60px;
    width: 230px;
  }
  #work {
    margin-left: 90px;
    font-size: 60px;
  }
  #contact-me {
    margin-left: 30px;
    width: 250px;
    font-size: 60px;
  }
}

@media screen and (max-width: 750px) {
  #about-me {
    font-size: 40px;
    margin-left: 0;
    width: 145px;
  }
  #work {
    font-size: 40px;
    margin-left: 0;
  }
  #contact-me {
    font-size: 40px;
    margin-left: 10px;
  }
  .contact-list {
    flex-direction: column;
    justify-content: center;
    font-size: 2vw;
  }
  .contact-list ul {
    flex-direction: column;
    align-items: center;
  }
  .contact-list li {
    flex-direction: column;
  }
  .bottom-left-text {
    bottom: 10px;
    left: 10px;
    padding: 5px;
  }
  .bottom-left-text-2 {
    bottom: 5px;
    left: 0px;
    padding: 5px;
  }
  .bottom-left-text-3 {
    bottom: 0px;
    left: 0px;
    padding: 5px;
  }
  #vertical-line-1 {
    height: 150px;
    margin-top: 50px; 
  }
  #vertical-line-2 {
    height: 400px;
  }
  #vertical-line-3 {
    margin-top: 30px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  #portfolio-3 {
    margin: 0;
  }
  #portfolio-2 {
    margin: 0;
  }
  .bottom-left-text {
    bottom: 10px;
    left: 0px;
    padding: 5px;
  }
  .bottom-left-text-2 {
    bottom: 0px;
    left: -10px;
    padding: 5px;
  }
  .bottom-left-text-3 {
    bottom: 0px;
    left: -10px;
    padding: 5px;
  }
  #vertical-line-2 {
    height: 400px;
  }
  #about-me {
    width: 130px;
  }
}

@media screen and (max-width: 525px){
  #portfolio-1 {
    min-width: 150px;
  }
  .img-container-1 {
    justify-content: center;
    align-items: center;
  }
  #about-me, #work, #contact-me{
    font-size: 30px;
  }
  #vertical-line-1 {
    margin-top: 5px;
  }
  #vertical-line-2 {
    height: 300px;
  }
  #vertical-line-3 {
    margin-top: 30px;
    height: 100px;
  }
  #about-me-content {
    margin-top: 0;
  }
  #about-me {
    width: 130px;
  }
  #contact-me {
    width: 560px;
  }
}
@media screen and (max-width: 430px) {
  #vertical-line-2 {
    height: 240px;
  }
}