/* css stylesheet for header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  border-bottom: solid var(--lines-borders-color) 5px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  height: 150px;
}

.left-header-container {
  display: flex;
  border-radius: 0px 5px 5px 0px;
  align-items: center;
  padding-right: 35px;
  padding-left: 70px;
  height: 100px;
}

h1 {
  font-family: serif;
  color: #A097F4;
  font-size: 50px;
  margin-left: 20px;
  padding-left: 10px;
}

header nav {
  padding-right: 20px;
  
}

header li {
  color: #A097F4;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  list-style-type: none;
  display: inline-block;
  font-size: 1.5vw;
  transition: .5s;
}

header li:hover {
  background-color: #5D4EEC;
}

.header-image-container {
  display: flex;
  width: 80px;
  height: 70px;
  margin: 0;
}


header img {
  max-width: 100%;
  height: auto;
  border-radius: 40px;
  filter: none;
}