/* css stylesheet for webpage */

:root {
  --lines-borders-color: #A097F4;
  --portfolio-borders: solid #A097F4 3px;
  --vertical-line-width: 5px;
}

* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img {
  filter: contrast(50%);
}

img:hover {
  filter: none;
}

a:link {
  color: black;
  text-decoration: none;
 }

 a:visited {
  color: black;
  text-decoration: none;
 }

 a:hover {
  cursor: pointer;
 }