/* css stylesheet for webpage */

:root {
  --lines-borders-color: rgb(106, 105, 105);
  --portfolio-borders: solid gray 5px;
  --vertical-line-width: 5px;
}

* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  background-color: lightgray;
}

img {
  filter: contrast(50%);
}

img:hover {
  filter: none;
}

a:link {
  color: black;
  text-decoration: none;
 }

 a:visited {
  color: black;
  text-decoration: none;
 }

 a:hover {
  cursor: pointer;
  pointer-events: auto;
 }