* {
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  background-color: lightgray;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 202, 197);
  border-bottom: solid rgb(106, 105, 105) 5px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  height: 150px;
}

header div {
  display: flex;
  align-items: center;
  background-color: rgba(217, 108, 96, 0.732);
  padding-right: 35px;
  padding-left: 70px;
  height: 100px;
}

header nav {
  width: 400px;
  right: 0px;
}

h1 {
  font-size: 50px;
  margin-left: 20px;
  padding-left: 10px;
  align-items: center;
  font-family: 'caviat';
}

header li {
  margin: 10px;
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  text-decoration: underline 3px;
}

header img {
  height: 70px;
  border-radius: 40px;
}

.background-image{
  height: 300px;
  background-size: 100% 100%;
  background-image: url(images/360_F_126353528_Lxr7a33xiRVpuYIuEv40GyW8MQ4N2b9E.jpg);
  background-repeat: no-repeat;
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: solid rgb(106, 105, 105) 5px;
}

section {
  display: flex;
  max-width: 90%;
  min-width: 0%;
  margin-bottom: 30px;
}

#about-me {
  font-size: 70px;
  display: flex;
  margin-left: 100px;
  width: 250px;
  justify-content: right;
  text-align: right;
}

#vertical-line-1 {
 height:100px;
 width: 5px;
 border-left: 6px solid rgb(106, 105, 105);
 margin-left: 20px;
 margin-top: 70px;
}

#vertical-line-2 {
  height:970px;
  width: 5px;
  border-left: 6px solid rgb(106, 105, 105);
  margin-left: 20px;
 }

#about-me-content {
  flex: 2 1 200px;
  margin-left: 50px;
  margin-top: 70px;
}

#work {
  font-size: 70px;
  display: flex;
  margin-left: 100px;
  margin-top: 0;
  max-width: 2500px;
  min-width: 250px;
  justify-content: right;
}

.img-container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  color: white;
  margin-left: 50px;
}

#portfolio-1-container {
  position: relative;
 }
 
 .bottom-left-text {
   position: absolute;
   bottom: 55px;
   left: 0px;
   background-color: darkgray;
   font-size: 2vw;
   padding-left: 60px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 20px;
 }

 a:link {
  color: black;
  text-decoration: none;
 }

 a:visited {
  color: black;
  text-decoration: none;
 }

 #portfolio-2-container {
  position: relative;
  display: flex;
  width: 50%;
 }

 #portfolio-3-container {
  position: relative;
  display: flex;
  width: 50%;
  justify-content: right;
 }

#portfolio-1 {
  max-width: 100%;
  min-width: 0%;
  border: solid gray 5px;
}

#portfolio-2 {
  display: flex;
  max-width: 100%;
  min-width: 300px;
  margin-top: 10px;
  margin-right: 23px;
  border: solid gray 5px; 
}

#portfolio-3 {
  display: flex;
  max-width: 100%;
  min-width: 300px;
  margin-top: 10px;
  border: solid gray 5px;
}

#contact-me {
  font-size: 70px;
  display: flex;
  margin-left: 100px;
  width: 250px;
  justify-content: right;
  text-align: right;
}

#vertical-line-3 {
  height:190px;
  width: 5px;
  border-left: 6px solid rgb(106, 105, 105);
  margin-left: 20px;
  margin-top: 70px;
}

.contact-list {
  display: flex;
  align-items:center;
  width: 100%;
}

.contact-list ul {
  display: flex;
}

.contact-list li {
  text-decoration: underline rgb(106, 105, 105) 5px;
  text-underline-position: under;
  display: flex;
  flex: 1 0 00px;
  list-style: none;
  font-size: 2em;
  justify-content: space-around;
}

.contact-list a {
  display: flex;
}

@media screen and (max-width: 1175px) {
  .bottom-left-text {
    bottom: 15px;
    left: 0px;
    font-size: 2vw;
  }
  .img-container-1 {
    flex-direction: column;
    align-items: center;
  }
  #portfolio-2 {
    margin: 0;
  }
  #portfolio-3-container {
    margin: 0;
    justify-content: center;
  }
  #portfolio-2-container {
    margin: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 950px){
    header {
      flex-direction: column;
    }
    header div {
      height: 90px;
    }
    .background-image {
      height: 200px;
    }
    .img-container-1 {
      flex-direction: column;
      align-items: center;
    }
    #portfolio-3 {
      margin: 0;
    }
    #portfolio-2 {
      margin: 0;
    }
    .bottom-left-text {
      bottom: 15px;
      left: 0px;
      font-size: 10px;
    }
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
    }
    #portfolio-3 {
      margin: 0;
    }
    #portfolio-2 {
      margin: 0;
    }
  }
  
  